<div id="contenedorPrincipalTipoReporte" class="espaciadox10 espacioGraficaTipoReporte">
    <div ng-controller="TipoReporteCtrl" class="alineacionCentral">
        <button class="boton botonVerde botonTipoReporte" type="button" ng-click="redireccion('{{DenunciaURL}}')">por bogotá yo denuncio</button>
        <button class="boton botonVerde botonTipoReporte" type="button" ng-click="redireccion('{{InformeURL}}')">por bogotá yo informo</button>
        <button class="boton botonVerde botonTipoReporte" type="button" ng-click="redireccion('{{AyudaURL}}')">por bogotá yo ayudo</button>
        <div id="botonVerGalerias">
            <button class="boton botonNegro botonTipoReporte" type="button" ng-click="redireccionExterna('{{galeriaURL}}')">ver galería</button>
        </div>
    </div>
</div>